<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        div{
            margin: auto;
            border: 1px solid black;
            width: 50%;
            text-align: center;
        }
    </style>
</head>
<body>
    <h2>Elige tus preferencias</h2>
    <hr>
    <form action="/anuncios" method="post">

        <input type="radio" name="intereses" value="zapatillas">Zapatillas
        <br>
        <input type="radio" name="intereses" value="patinetes">Patinetes
        <br>
        <input type="radio" name="intereses" value="tablets">Tablets
        <br>
        <br>
        <input type="submit" value="Enviar">
    </form>
    <div>

        <% if (cookie) { %>
            <h2><a href="#">Las mejores ofertas en <%= cookie %></a></h2>
        <% } %>
    </div>

    </body>
</html>